<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home PAge</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Transactions</h1>
    <table>
      <tr>
        <th>id</th>
        <th>product_name</th>
        <th>date</th>
        <th>qty</th>
        <th>total_price</th>
      </tr>
      <% allTransactionsData.forEach(e => {%>
        <tr>
          <th><%= e.id %></th>
          <th><%= e.product_name %></th>
          <th><%= e.date %></th>
          <th><%= e.qty %></th>
          <th><%= e.total_price %></th>
        </tr>
      <%  }); %>
    </table>
  </body>
</html>